* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

h1 {
  font-size: 62px;
  line-height: 72px;
}

h2 {
  font-size: 52px;
  line-height: 52px;
  margin-bottom: 64px;
}

h3 {
  font-size: 32px;
  line-height: 38px;
  font-weight: 300;
  margin-bottom: 46px;
}

h4 {
  font-size: 26px;
  line-height: 34px;
  font-weight: 300;
  margin-bottom: 25px;
}

p.subtitle {
  font-size: 12px;
  letter-spacing: 0.1em;
  font-weight: 700;
  text-transform: uppercase;
}

p {
  font-size: 18px;
  line-height: 28px;
  color: #8c8f94;
}

a {
  color: #267df4;
  text-decoration: underline;
}

a:focus {
  outline: none;
}

.f-w-300 {
  font-weight: 300;
}

.f-w-400 {
  font-weight: 400;
}

ul {
  padding-left: 0px;
}

ul > li {
  list-style: none;
}

.btn {
  font-size: 16px;
  font-weight: 400;
  padding: 9px 16px;
  text-decoration: none;
  color: #26272d;
  border: 1px solid rgba(38, 39, 45, 0.1);
  -webkit-border-radius: 30px;
          border-radius: 30px;
}

.btn:active, .btn:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn-lg {
  padding: 14px 48px;
}

.btn-blue {
  background-color: #267df4;
  color: white;
}

.btn-green {
  background-color: #6fc754;
  color: white;
}

.btn-dark {
  background-color: #131315;
  color: white;
}

.btn-blue:hover, .btn-blue:focus,
.btn-green:hover, .btn-green:focus,
.btn-dark:hover, .btn-dark:focus {
  color: #ffffff;
}

#main-nav {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  padding: 44px 0;
  font-size: 16px;
  z-index: 10;
  background-color: transparent;
}

#main-nav #navigation {
  color: #26272d;
  text-decoration: none;
  position: absolute;
  top: 50%;
  margin-top: -16px;
  z-index: 2;
}

#main-nav #navigation:hover {
  color: #267df4 !important;
}

#main-nav ul {
  padding: 0;
}

#main-nav ul li {
  display: inline-block;
  margin-right: 40px;
}

#main-nav ul li a {
  color: #26272d;
  text-decoration: none;
}

#main-nav ul li a:hover {
  color: #267df4;
}

#main-nav ul li .help {
  color: rgba(38, 39, 45, 0.4);
}

#main-nav ul li .btn-blue {
  color: #ffffff;
}

#main-nav ul li .btn-blue:hover {
  color: #ffffff;
}

#main-nav ul li:last-child {
  margin-right: 0;
}

#main-nav ul.left {
  text-align: left;
  margin-left: 50px;
}

#main-nav ul.left li {
  display: inline-block;
  padding: 9px 0;
}

#main-nav ul.left li:first-child {
  margin-right: 30px;
}

#main-nav ul.right {
  text-align: right;
}

#main-nav .logo {
  display: inline-block;
  padding-top: 11px;
}

#header {
  padding: 200px 0 510px;
  background-image: url("../img/banner_background.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
  overflow: hidden;
}

#header p {
  font-size: 20px;
  color: #8c8f94;
}

#header .header_iphone {
  position: absolute;
  bottom: -310px;
  left: 50%;
  margin-left: -185px;
}

#header .video-btn {
  margin-top: 48px;
}

#header .video-btn i {
  margin-right: 15px;
}

#features {
  padding: 120px 0;
}

#features .feature {
  padding: 0px 38px;
}

#features .feature .f-icon {
  margin-bottom: 48px;
}

#features .feature .f-icon i {
  font-size: 42px;
  color: #267df4;
}

#iphone-feature {
  position: relative;
  padding: 240px 0 330px;
}

#iphone-feature .btns-container {
  margin-top: 62px;
}

#iphone-feature .btns-container a {
  margin-right: 20px;
  margin-bottom: 18px;
}

#iphone-feature .btns-container a i {
  margin-left: 50px;
  font-size: 14px;
}

#iphone-feature .btns-container a:last-child {
  margin-right: 0;
}

#iphone-feature .iphone-showcase {
  position: absolute;
  bottom: 110px;
  right: 50%;
}

#map-feature {
  padding: 120px 0 140px;
  position: relative;
  overflow: hidden;
}

#map-feature .partners {
  margin-top: 52px;
}

#map-feature .partners .title {
  font-weight: 700;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-size: 12px;
}

#map-feature .partners ul {
  margin: 26px 0 0;
}

#map-feature .partners ul li {
  display: inline-block;
  margin-right: 30px;
  margin-bottom: 15px;
}

#map-feature .partners ul li:last-child {
  margin-right: 0;
}

#map-feature .map-showcase {
  position: absolute;
  bottom: 110px;
  left: 50%;
}
